.audio-card {
    position: relative;
    // min-height: 415px;
    // @media (min-width: 576px) {
    //     min-height: 335px;
    // }
    // @media (min-width: 992px) {
    //     min-height: 295px;
    // }
    padding-top: 100%;
    & .controls {
        font-size: 32px;
        font-size: 2rem;
        line-height: 1;
        @media (min-width: 768px) {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 30px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: distribute;
            justify-content: space-around;
        }
        & svg {
            cursor: pointer;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            &:hover {
                color: #ff2d55;
            }
            &.active {
                color: #ff2d55;
            }
        }
    }
    & .flip-cards {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        @media (min-width: 768px) {
            position: absolute;
            top: 0;
            left: 0;
            -webkit-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
            -webkit-perspective: 1200px;
            perspective: 1200px;
            pointer-events: none;
            & .card-before {
                position: absolute;
                top: 0;
                left: 0;
                width: 51%;
                height: 100%;
                overflow: hidden;
                & img {
                    max-width: none;
                    height: 100%;
                    width: auto;
                }
            }
        }
        & .card-after {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            overflow: hidden;
            margin-left: 50%;
            -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            @media (max-width: 767px) {
                display: none;
            }
            & img {
                position: absolute;
                right: 0;
                height: 100%;
                background-color: #fff;
                max-width: none;
            }
        }
    }
    &:hover {
        & .card-after {
            -webkit-transform: rotateY(-60deg);
            transform: rotateY(-60deg);
        }
    }
}
