.audio-scrubber {
    height: 2px;
    padding: 6px 0;
    position: relative;
    z-index: 1;
    cursor: pointer;
    &:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        height: 2px;
        width: 100%;
        background: #dfdfdf;
        z-index: 0;
    }
}
.audio-scrubber-fill {
    position: absolute;
    top: 5px;
    left: 0;
    height: 2px;
    width: 0;
    background: #ff2d55;
}
// .audio-scrubber-handle {
//     position: absolute;
//     top: -3px;
//     left: 0;
//     width: 16px;
//     height: 16px;
//     border-radius: 50%;
//     background: #fff;
//     margin-left: -8px;
//     -webkit-transition: -webkit-transform 0.3s;
//     transition: -webkit-transform 0.3s;
//     transition: transform 0.3s;
//     transition: transform 0.3s, -webkit-transform 0.3s;
//     cursor: pointer;
// }
