.navbar {
    & .logo {
        max-width: 90px;
    }
    @media (max-width: 991px) {
        & .navbar-collapse {
            position: absolute;
            top: 0;
            right: 0;
            width: 100vw;
            transform: translateX(0%);
            transition: all 0.3s ease-out;
            &.closed {
                transform: translateX(110%);
            }
        }
    }
}
