.round-img-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    & .round-img {
        background-repeat: no-repeat;
        background-size: cover;
        &.mid {
            @media (min-width: 768px) {
                min-height: 580px;
                max-width: 580px;
            }
            @media (min-width: 992px) {
                min-height: 500px;
                max-width: 500px;
            }
        }
        &.left {
            position: absolute;
            top: 0;
            @media (min-width: 992px) {
                left: 60px;
                min-height: 360px;
                min-width: 360px;
            }
            @media (max-width: 991px) {
                display: none;
            }
        }
        &.right {
            position: absolute;
            bottom: 60px;
            @media (min-width: 992px) {
                right: 60px;
                min-height: 300px;
                min-width: 300px;
            }
            @media (max-width: 991px) {
                display: none;
            }
        }
    }
}
.text-wrapper {
    position: absolute;
    bottom: 50px;
    left: 1rem;
    @media (min-width: 768px) {
        padding-right: 30%;
    }
    @media (min-width: 992px) {
        .round-img-text-wrapper {
            padding-right: 50%;
        }
    }
}
