.mini-player {
    // position: fixed;
    // bottom: 0;
    // z-index: 999;
    // background-color: #fff;
    // box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    // padding: 12px;
    will-change: transform;
    transition: 0.3s transform ease-out;
    & .thumb {
        max-width: 80px;
        min-width: 80px;
        & img {
            max-width: 100%;
            height: auto;
        }
    }
    & .player-text {
        max-width: 65vw;
    }
    & .current-audio {
        font-size: 12.8px;
        font-size: 0.8rem;
        line-height: 1;
    }
    & .close {
        position: absolute;
        top: 4px;
        right: 7px;
        cursor: pointer;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
    @media (min-width: 768px) {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        left: 50%;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
        &.playing {
            -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
        }
    }
    @media (max-width: 767px) {
        left: 0;
        right: 0;
        -webkit-transform: translate(0, 100%);
        transform: translate(0, 100%);
        &.playing {
            -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
        }
    }
}
