.mini-player {
    will-change: transform;
    transition: 0.3s transform ease-out;
    & .thumb {
        & img {
            transition: filter 0.3s ease-out;
        }
        & .controls {
            & svg {
                color: #fff;
                width: 100%;
                height: 100%;
            }
        }
        &:hover {
            & img {
                filter: brightness(0.5);
            }
        }
        @media (max-width: 767px) {
            & img {
                filter: brightness(0.5);
            }
        }
        max-width: 80px;
        min-width: 80px;
    }
    @media (min-width: 768px) {
        min-width: 300px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        left: 50%;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
        &.playing {
            -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
        }
    }
    @media (max-width: 767px) {
        left: 0;
        right: 0;
        -webkit-transform: translate(0, 100%);
        transform: translate(0, 100%);
        &.playing {
            -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
        }
    }
}
