.social {
    border-left: 1px solid rgba(256, 256, 256, 0.5);
    &:last-child {
        border-right: 1px solid rgba(256, 256, 256, 0.5);
    }
    -webkit-transition: 0.3s;
    transition: 0.3s;
    & .medium-name {
        position: absolute;
        bottom: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
    & .hidden-items {
        visibility: hidden;
        opacity: 0%;
        filter: opacity(0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=NaN)";
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
    &:hover {
        background-color: rgba(256, 256, 256, 0.05);
        & .medium-name {
            bottom: 90px;
        }
        & .hidden-items {
            visibility: visible;
            opacity: 100%;
            filter: opacity(1);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=NaN)";
        }
    }
}
